/* https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/photo_gallery_auto-fill_align-items_start */
.easy-icons-grid { 
  display: grid;
  /* grid-template-columns will make groups set to max width */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  grid-gap: 20px;
  align-items: start;
  }

  /* sample css for using background image: AND easy-icons-image as class */
  .bg-image {
    /* background-image: url(https://mcclickster.sharepoint.com/sites/Branding/EasyIcons/Products/Cushion.png); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: min-content;
    /* width: 100px; */
    /* width: fit-content; */
    display: inline-block;

    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    
    /* object-fit:contain; This can be one of the 5 values from above */
    /* grid-area: 1 / 1 / 3 / 2; */
  
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -webkit-transition: all 1s ease;
    transition: .5s ease;
  
    padding: 5px;
    position: relative;
    z-index: 1;

    
  }

  .bg-image:hover {
    /* background-image: url(https://mcclickster.sharepoint.com/sites/Branding/EasyIcons/Products/Cushion.png); */
    background-repeat: no-repeat;
    background-size: contain;
    transition: .5s ease;

    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
  
    /* max-width: 125px; */
    /* max-width: 125px; */
  
    /* padding: 25px; padding kills smoothness */
  
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  
    transition: .5s ease;
    z-index: 3;
  
    -webkit-box-shadow: 7px 5px 33px 11px #000000; 
    box-shadow: 7px 5px 33px 11px #000000;

  }

  .bg-image-card {
    display: inline-block;
  }

  .bg-image-caption {
    font-size: large;
    transition: .5s ease;
  }
  .bg-image-caption:hover {
      
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
  
    transition: .5s ease;
    z-index: 3;

  }


  .easy-icons-group {

  }

  .easy-icons-group-icons {
    
  }

  .easy-icons-image-div {

  }
  /* https://www.quackit.com/html/html_editors/scratchpad/?example=/css/grid/examples/photo_gallery_auto-fill_align-items_start */
.easy-icons-image {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  height: 100px;
  /* max-width: 75px; */
/*   
  width: 100%; */
  object-fit:contain; /* This can be one of the 5 values from above */
  /* grid-area: 1 / 1 / 3 / 2; */

  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -webkit-transition: all 1s ease;
  transition: .5s ease;

  padding: 5px;
  position: relative;
  z-index: 1;

}

.easy-icons-image:hover {
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;

  /* max-width: 125px; */
  /* max-width: 125px; */

  /* padding: 25px; padding kills smoothness */

  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);

  background: lightgray;

  transition: .5s ease;
  z-index: 3;

  -webkit-box-shadow: 7px 5px 33px 11px #000000; 
  box-shadow: 7px 5px 33px 11px #000000;

}

.easy-icons-group-title {
  font-size: x-large;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* .easy-link-image {
  width: 100%;
  object-fit:contain; 
  grid-area: 1 / 1 / 3 / 2;

  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -webkit-transition: all 1s ease;
  transition: .5s ease;
}

.easy-link-image:hover{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;

  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);


  transition: .5s ease;
  } */

  
  .bg-image-card .bg-image {
    height: '';
  }