@import '~office-ui-fabric-react/dist/sass/References.scss';

.propPaneCols {
  padding:15px;
  background: lightblue;
  display: flex;
  justify-content: space-between;

  table {
    td {
      text-align: center;
    }
  }

  .performanceRow {
    display: inline-block;

    div:nth-child(1) { //This is the fetchLabel
      min-width: 100px;
    }

    div:nth-child(1) { //This is the fetchProp
      color: 'darkblue';
      font-weight: 600;
    }
  }

  .button {
    // Our button
    padding: 10px; //Added this to give padding around buttons

    text-decoration: none;
    height: 22px;
  
    // Primary Button
    min-width: 80px;
    // background-color: $ms-color-white;
    // border-color: $ms-color-white;
    // color: $ms-color-themePrimary;
  
    background-color: lightgray;
    border-color: lightgray;
    color: black;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin: 10px 16px;
    margin: 0 4px;
    font-weight: $ms-font-weight-semibold;
    font-size: $ms-font-size-m;

  }
  
  .button.isSelected {
    background-color: $ms-color-themePrimary;
    border-color: $ms-color-themePrimary;
    color: $ms-color-white;
  }

}

